<h1><%= link_to @post.title, @post.url %></h1>
<p><%= @post.user.username %></p>
<p><%= @post.created_at %></p>
<div><pre><%= @post.description %></pre></div>
<% if is_owner? %>
  <%= link_to "Edit", edit_post_path(id: @post.id) %>
  <%= link_to "Delete", post_path(@post), method: :delete%>
<% end %>
