<div class="rating-object">
  <span class="rating-vote rating-upvote <% if (!vote.nil? && vote.rating == 1) %>rating-highlight<%end%>"
     data-model="<%= model %>" data-id="<%= id %>">
     <i class="fa fa-arrow-up"></i>
   </span>
  <span class="rating-score"><%= rating %></span>
  <span class="rating-vote rating-downvote <% if (!vote.nil? && vote.rating == -1) %>rating-highlight<%end%>"
     data-model="<%= model %>" data-id="<%= id %>">
     <i class="fa fa-arrow-down"></i>
   </span>
</div>
