<div class="rating-object">
  <span class="rating-upvote" data-model="<%= model %>" data-id="<%= id %>">^</span>
  <span class="rating-score"><%= rating %></span>
  <span class="rating-downvote" data-model="<%= model %>" data-id="<%= id %>">v</span>
</div>
