<div class="col-md-4 col-md-offset-4">
  <div>
    <% if @sub.errors.any? %>
      <div id="error_explanation">
        <% @sub.errors.full_messages.each do |msg| %>
          <div class="alert alert-danger" role="alert"><%= msg %></div>
        <% end %>
      </div>
    <% end %>
    <h1 class="page-header text-center">Create a sub</h1>

    <%= form_for(@sub) do |s| %>
      <div class="form-group">
        <%= s.label :slug %>
        <%= s.text_field :slug, class: ["form-control"] %>
      </div>
      <div class="form-group">
        <%= s.submit "Add", class: ["btn btn-primary pull-right"] %>
      </div>
    <% end %>
  </div>
</div>
