<% content_for :sub_main do %>
  <% @posts.each do |post| %>
  <div style="display: flex; flex-direction: row; align-items: center; padding-left: 10px;">
    <%= render 'shared/rating', {model: 'post', id: post.id, rating: post.rating_posts.sum(:rating), vote: post.rating_posts.find_by(user_id: current_user.id)} %>
    <%= render 'shared/post_card', {post: post}%>
  </div>
  <% end %>
  <nav>
    <ul class="pagination">
      <% if @prev_page %>
        <li class="page-item">
          <a class="page-link" href="?page=<%=@prev_page%>">Previous</a>
        </li>
      <% end %>
      <% if @next_page %>
        <li class="page-item">
          <a class="page-link" href="?page=<%=@next_page%>">Next</a>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>

<% content_for :sub_side do %>
  <% if @sub.slug != 'all' %>
    <h3 align="center">This sub has <%= pluralize(count_subscribers(@sub.id), 'subscriber') %></h3>
    <% if logged_in? %>
      <% if is_user_subscribed_to_sub?(@sub.id, current_user.id) %>
        <h3 align="center">You're subscribed!</h3>
        <%= button_to 'Unsubscribe', {:controller => 'subs', :action => 'unsubscribe', :user_id => current_user.id, :sub_id => @sub.id}, class: ["btn btn-primary btn-block"]  %>
      <% else %>
        <h3 align="center">You're not subscribed!</h3>
        <%= button_to 'Subscribe', {:controller => 'subs', :action => 'subscribe', :user_id => current_user.id, :sub_id => @sub.id}, class: ["btn btn-primary btn-block"]  %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
