<% content_for :sub_main do %>
  <% @posts.each do |post| %>
  <div style="display: flex; flex-direction: row; align-items: center; padding-left: 10px;">
    <%=
      render 'shared/rating',
      {model: 'post', id: post.id, rating: post.rating_posts.sum(:rating), vote: post.rating_posts.find_by(user: current_user)}
    %>
    <%= render 'shared/post_card', {post: post}%>
  </div>
  <% end %>
  <nav>
    <ul class="pagination">
      <% if @prev_page %>
        <li class="page-item">
          <a class="page-link" href="?page=<%=@prev_page%>">Previous</a>
        </li>
      <% end %>
      <% if @next_page %>
        <li class="page-item">
          <a class="page-link" href="?page=<%=@next_page%>">Next</a>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>

<% content_for :sub_side do %>
  <% if @sub.slug != 'all' %>
    <h3 align="center">This sub has <%= pluralize(count_subscribers(@sub), 'subscriber') %></h3>
    <% if logged_in? %>
      <% if is_user_subscribed_to_sub?(@sub, current_user) %>
        <h3 align="center">You're subscribed!</h3>
        <%= button_to 'Unsubscribe', {:controller => 'subs', :action => 'unsubscribe', :user_id => current_user.id, :sub_id => @sub.id}, class: ["btn btn-primary btn-block"]  %>
      <% else %>
        <h3 align="center">You're not subscribed!</h3>
        <%= button_to 'Subscribe', {:controller => 'subs', :action => 'subscribe', :user_id => current_user.id, :sub_id => @sub.id}, class: ["btn btn-primary btn-block"]  %>
      <% end %>
      <h3 align="center">Moderators</h3>
      <ul>
        <% @mods.each do |m| %>
          - <%= link_to m.user.username, user_path(username: m.user.username) %>
        <% end %>
      </ul>
      <% if UserPermissions.is_moderator? current_user, @sub %>
        <h3 align="center">Admin tools</h3>
        <%= link_to "Edit Sub description", edit_sub_path(slug: @sub.slug), class: ["btn btn-warning btn-block"] %>
        <%= link_to "Sub moderator tools", mod_sub_path(slug: @sub.slug), class: ["btn btn-warning btn-block"] %>
      <% end %>
    <% end %>
    <br>
    <% if @sub.description %>
      <pre>
        <%= @sub.description %>
      </pre>
    <% end %>
  <% end %>
<% end %>
