<h1>Create a post</h1>

<%= form_for(@post) do |p| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this sub from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= p.label :url %>
  <%= p.url_field :url %>
  <%= p.label :title %>
  <%= p.text_field :title %>
  <%= p.label :description %>
  <%= p.text_area :description %>
  <%= p.label :sub_id %>
  <%= p.select :sub_id, Sub.pluck(:slug, :id) %>
  <%= p.submit "Add a post" %>
<% end %>
