<!DOCTYPE html>
<html>
  <head>
    <title>Reddit</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <nav style="border-bottom: 1px solid black; position: relative;">
      <div id="nav-vert" style="display: flex; justify-content: space-around; border-bottom: 1px solid black; background-color: #F0F0F0;">
        <div>
          <%= link_to 'ALL', sub_path(slug: 'all') %>
        </div>
        <% all_subs.each do |s| %>
          <span>|</span>
          <div><%= link_to s.to_s.upcase, sub_path(slug: s) %></div>
        <% end %>
      </div>
      <div style="display: flex; flex-direction: row; padding: 0 10px 0 10px; background-color: #CEE3F8;">
        <div style="display: flex; flex-direction: row;">
          <h3 style="margin-right: 10px; color: black"><%= link_to "reddit", root_url %></h3>
          <h3>
            <%= yield :sub %>
          </h3>
        </div>
        <div style="position: absolute; right: 5px; bottom: 0px; padding: 5px; text-align: right; display: flex; flex-direction: row; justify-content: space-around;">
          <% if logged_in? %>
            <span>Welcome <%= @current_user.email %></span>
            <span style="margin: 0 5px 0 5px;">|</span>
            <%= link_to "Account", @current_user %>
            <span style="margin: 0 5px 0 5px;">|</span>
            <%= link_to "Sign out", logout_path, method: :delete %>
          <% else %>
            <%= link_to "Log in", login_path %>
            <span style="margin: 0 5px 0 5px;">|</span>
            <%= link_to "Sign up", signup_path %>
          <% end %>
        </div>
      </div>
    </nav>
    <main class="container-fluid main">
      <div class="row">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </main>
    <footer>
      <%= debug(params) if Rails.env.development? %>
    </footer>
  </body>
</html>
